<!-- Botón de regresar -->
<div style="text-align: center; margin-top: 20px;">
    <div *ngIf="universidad; else loading">
        <h2>Detalles de la Universidad</h2>
        <p><strong>ID:</strong> {{ universidad.id_universidad }}</p>
        <p><strong>Nombre:</strong> {{ universidad.nombre }}</p>
        <p><strong>Tipo:</strong> {{ universidad.tipo }}</p>
        <p><strong>Ubicación:</strong> {{ universidad.ubicacion }}</p>
        <p><strong>Teléfono:</strong> {{ universidad.telefono }}</p>
        <p><strong>Sitio Web:</strong> <a href="{{ universidad.sitio_web }}" target="_blank">{{ universidad.sitio_web
                }}</a></p>
    </div>

    <ng-template #loading>
        <p>Cargando detalles...</p>
    </ng-template>
    <button onclick="window.location.href='universidades/privadas'"
        style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">
        Regresar
    </button>


</div>